body{
  background-color: #3e4451;
  margin: 0;
}

div{
  margin-bottom: 5px;
}

.container{
  width: 700px;
  border-radius: 10px;
  background-color: #282c34;
  font-size: 20px;
  font-family: serif;
  color: #4bb6a7;
}

.header, .footer{
  padding: 1em 0;
}

.left{
  float: left;
  padding-left: 20px;
}

.center{
  float: center;
}

.right{
  float: right;
  padding-right: 20px;
}

.task_image{
  border-radius: 20px;
  margin: 20px;
}

.task_text{
  border-radius: 20px;
  height: 217px;
  margin: 20px 20px 20px 0;
}

#VT_logo{
  margin-top: -14px;
}

.task-container, .form-container{
  text-align: left;
}

input {
  margin: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background: #ffffff !important;
  outline: none;
  height: 24px; // высота на  усмотрение
  color: #cccccc; //цвет шрифта в обычном состоянии
  font-size: 11px; // Размер шрифта
  font-family: Tahoma; // Стиль шрифта
}

#R, #Y{
  width: 140px;
}

form{
  display: inline-block;
  margin: 10px 40px;

}

.answer{
  display: inline-block;
  width:300px;
  height: 250px;
  border-radius: 10px;
  background-color: #333333;
  margin: 10px 40px;
}

.submit{
  width: 165px;
  background: #4bb6a7 !important;
  height: 30px;
  border-radius: 10px;
}

.submit:hover{
  background: #d19a62 !important;
}

.submit:active{
  background: #b7403e !important;
}

table.points{
  border-collapse: collapse;
}
th, td{
  padding: 10px 15px;
  border: 2px solid #4bb6a7;
  padding: 5px;
}
